.documentation {
  flex-direction: column;
  margin-top: 3em;
  min-height: 60vh;
}
.documentation__desc {
  font-size: 1rem;
  max-width: 680px;
  margin: auto;
}
.documentation__list {
  margin-top: 2rem;
  max-width: 680px;
  margin: 40px auto;
}
.documentation__list__item {
  margin: 16px 0;
}
